$colors: (
  // 232830
  // 5C5F60
  // 9B9B9B
  // BF654E
  // E0E4ED
  // FFFFFF
  // 000000
  // 914E3C
);

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #E0E4ED;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #BF654E;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #914E3C;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-solid-1 {
  border: 3px solid #BF654E;
  background-color: #232830;
  color: #BF654E;
  transition: background-color .4s ease-in-out, color .4s ease-in-out;
}

.btn-solid-1:hover {
  border: 3px solid #232830;
  background-color: #BF654E;
  color: #232830;
}

.btn-solid-2 {
  background-color: map-get($colors, tertiary);
  color: map-get($colors, primary);
}

.btn-regular-1 {
  border: 2px solid  map-get($colors, secondary);
  background-color: unset;
  color:  map-get($colors, secondary);
}

.waves-effect{
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.waves-ripple{
  transition: all .3s ease-out;
  width: 0px;
  height: 0px;
  position: absolute;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-radius: 50%;
/*   background-color: rgba(255, 255, 255, 0.25); */
  -webkit-transform: translate(-50%, 0); 
}

body, html {
  margin:0;
  padding:0;
  width: 100%;
  height: 100%;
  font-family: 'Titillium Web', sans-serif;
  background-color: map-get($colors, primary);

  nav {
    min-height: 115px;
    padding: 0 50px;

    @media screen and (max-width: 600px) {
      padding: 0 20px;
    }

    .nav-container {
      height: 100%;
      min-height: 115px;
      max-width: 1240px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;

      @media screen and (max-width: 992px) {
        display: block;
      }

      .nav-logo-trigger-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 115px;
       
        @media screen and (max-width: 992px) {
          width: 100%;
        }

        .logo {
          height: 100%;
          display: block;
          width: 50px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          background-image: url('../images/logo.webp');
        }
  
        .nav-trigger {
          height: 30px;
          width: 27px;
          display: flex;
          align-items: center;
          justify-content: center;
          
          @media screen and (min-width: 993px) {
            display: none;  
          }
  
          i {
            color: #5C5F60;
            font-size: 20px;
          }
        }

        .nav-trigger:hover {
          i {
            color: #232830;
          }
        }
      }

      .nav-right-container {
        display: flex;
        align-items: center;
        transition: height .4s ease-in-out,  opacity .2s ease-in-out;

        @media screen and (max-width: 992px) {
          display: none;  
          width: 100%;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          height: 0;
          opacity: 0;
        }

        ul {
          li {
            a {
              font-size: 18px;
              font-weight: 500;
              color: #5C5F60;
            }

            a:hover {
              color: #232830;
            }
          }
        }
  
        .btn-container {
          margin-left: 20px;

          @media screen and (max-width: 992px) {
            margin-left: 0;
          }

          .say-hi-btn {
            font-size: 18px;
            font-weight: 700;
            color: #BF654E;
            border: 2px solid #BF654E;
            border-radius: 50px;
            padding: 10px 20px;
            transition: background-color .3s ease-in-out, color .3s ease-in-out;
          }

          .say-hi-btn:hover {
            color: #FFFFFF;
            background-color: #BF654E;
          }
        }
      }
    }
  }

  main {
    margin-top: 100px;

    @media screen and (max-width: 992px) {
      margin-top: 150px;
    }

    .container {
      max-width: 1240px;
      margin: 0 auto;
      padding: 0 50px;

      @media screen and (max-width: 600px) {
        padding: 0 20px;
      }

      .not-found-container {
        .not-found-header {
          font-size: 46px;
          color: #232830;
          font-weight: 900;
          text-align: center;
        }
    
        .not-found-subheader {
          font-size: 24px;
          color: #232830;
          font-weight: 400;
          text-align: center;
          margin-bottom: 75px;
        }
      }

      .header {
        font-size: 46px;
        color: #232830;
        font-weight: 900;
        text-align: center;
      }
  
      .subheader {
        font-size: 24px;
        color: #232830;
        font-weight: 400;
        text-align: center;
        margin-bottom: 75px;
      }
  
      .profile-photo-container {
        width: 230px;
        height: 230px;
        background-color: #5C5F60;
        margin: 0 auto;
        border-radius: 50%;
        position: relative;
        margin-bottom: 75px;
  
        .profile-photo {
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          width: 230px;
          height: 250px;
          position: absolute;
          bottom: 0;
          left: 0;
          background-image: url('../images/profile.webp');
        }
      }
  
      .coding-photo {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 275px;
        width: 100%;
        margin-bottom: -2px;
        background-image: url('../images/coding.webp');
      }

      .categories-container {
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: -200px;
        margin-bottom: 135px;

        .category-container {
          padding: 50px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: column;
          text-align: center;
          border-radius: 12px;
          background-color: #FFFFFF;
          box-shadow: 0 5px 5px 0 #e9f0f380, 0 0 0 1px #e6ecf8;

          @media screen and (max-width: 600px) {
            padding: 35px;
          }

          i {
            color: #BF654E;
            font-size: 48px;
            margin-bottom: 20px;
          }

          .category-header {
            color: #5C5F60;
            font-size: 25px;
            font-weight: 600;
            margin-bottom: 20px;
          }

          .category-description {
            color: #5C5F60;
            font-size: 18px;
            width: 400px;
            margin-bottom: 70px;
            line-height: 30px;

            @media screen and (max-width: 600px) {
              width: 200px;
            }
          }

          .category-label-header {
            font-weight: 600;
            color: #BF654E;
            margin-bottom: 20px;
          }

          .category-assign-header {
            color: #5C5F60;
            margin-bottom: 70px;
          }

          .category-assign-header:last-child {
            margin-bottom: 0;
          }
        }

        .category-container:nth-child(even) {
          border-right: 1px solid #E0E4ED;
          border-left: 1px solid #E0E4ED;
        }
      }

      .projects-container {
        .projects-header {
          font-size: 32px;
          color: #232830;
          font-weight: 900;
          text-align: center;
        }

        .projects-subheader {
          font-size: 18px;
          color: #232830;
          font-weight: 400;
          text-align: center;
          margin-bottom: 50px;
        }

        .projects-containers {
          padding: 50px 0;
          display: grid;
          grid-template-columns: repeat(auto-fit,minmax(315px,1fr));
          grid-gap: 20px;

          @media screen and (max-width: 600px) {
            grid-template-columns: repeat(auto-fit,minmax(266px,1fr));
          }

          .project-container {
            background-color: #232830;
            height: 280px;
            border-radius: 9px;
            position: relative;
            overflow: hidden;

            .project-background {
              background-position: center;
              background-repeat: no-repeat;
              background-size: 130%;
              pointer-events: none;
              opacity: 1;
              border-radius: 9px;
              transition: opacity .5s ease-in-out;
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;

              @media screen and (max-width: 600px) {
                background-size: 150%;
              }
            }

            .project-photo {
              width: 50%;
              height: 45%;
              border-radius: 9px;
              background-position: center;
              background-repeat: no-repeat;
              background-size: contain;
              margin: auto;
              transition: opacity .5s ease-in-out;
              opacity: 1;
              position: absolute;
              pointer-events: none;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
            }

            .project-content {
              padding: 25px 35px;
              opacity: 0;
              transition: opacity .5s ease-in-out;
              display: flex;
              flex-direction: column;
              justify-content: center;
              height: 200px;
              pointer-events: none;

              @media screen and (max-width: 800px) {
                padding: 25px 20px;
              }

              .project-header {
                font-size: 20px;
                font-weight: 400;
                color: #FFFFFF;
                margin-bottom: 20px;
                text-align: center;
                pointer-events: none;
              }
  
              .btn-container {
                pointer-events: none;

                .visit-site-btn {
                  display: block;
                  padding: 10px 20px;
                  font-size: 18px;
                  font-weight: 600;
                  border-radius: 50px;
                  pointer-events: none;

                  i {
                    font-size: 20px;
                    margin-left: 5px;
                  }
                }
              }
            }
          }

          .project-container:hover {
            .project-background {
              opacity: 0;
            }

            .project-photo {
              opacity: 0;
            }

            .project-content {
              opacity: 1;
              // pointer-events: all;

              .btn-container {
                // pointer-events: all;

                .visit-site-btn {
                  // pointer-events: all;
                }
              }
            }
          }
        }
      }
    }

    .introduction-container {
      padding: 0 50px;
      min-height: 600px;
      background-color: #BF654E;

      .intro-container {
        padding: 100px 0 100px 0;
        text-align: center;
        max-width: 850px;
        margin: 0 auto;
        
        
        .intro-header {
          font-size: 32px;
          font-weight: 400;
          color: #FFFFFF;
          margin-bottom: 20px;
        }
  
        .intro-subheader {
          font-size: 18px;
          line-height: 30px;
          font-weight: 400;
          color: #FFFFFF;
          margin-bottom: 70px;

          @media screen and (max-width: 740px) {
            margin-bottom: 150px;
          }
        }
      }
    }
  }
}