$colors: (
  // 232830
  // 5C5F60
  // 9B9B9B
  // E0E4ED
  // FFFFFF
  // 000000
);

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #E0E4ED;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #232830;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5C5F60;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.btn-container {
  display: flex;
}

body, html {
  margin:0;
  padding:0;
  width: 100%;
  height: 100%;
  font-family: 'Titillium Web', sans-serif;
  background-color: map-get($colors, primary);

  nav {
    min-height: 115px;
    padding: 0 50px;
    
    .nav-container {
      height: 100%;
      min-height: 115px;
      max-width: 1240px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;

      @media screen and (max-width: 992px) {
        display: block;
      }

      .nav-logo-trigger-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 115px;
       
        @media screen and (max-width: 992px) {
          width: 100%;
        }

        .logo {
          height: 100%;
          display: block;
          width: 50px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          background-image: url('./images/logo.png');
        }
  
        .nav-trigger {
          height: 30px;
          width: 27px;
          display: flex;
          align-items: center;
          justify-content: center;
          
          @media screen and (min-width: 993px) {
            display: none;  
          }
  
          i {
            color: #5C5F60;
            font-size: 20px;
          }
        }

        .nav-trigger:hover {
          i {
            color: #232830;
          }
        }
      }

      .nav-right-container {
        display: flex;
        align-items: center;
        transition: height .4s ease-in-out,  opacity .2s ease-in-out;

        @media screen and (max-width: 992px) {
          display: none;  
          width: 100%;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          height: 0;
          opacity: 0;
        }

        ul {
          li {
            a {
              font-size: 18px;
              font-weight: 500;
              color: #5C5F60;
            }

            a:hover {
              color: #232830;
            }
          }
        }
  
        .btn-container {
          margin-left: 20px;

          @media screen and (max-width: 992px) {
            margin-left: 0;
          }

          .say-hi-btn {
            font-size: 18px;
            font-weight: 700;
            color: #232830;
            border: 2px solid #232830;
            border-radius: 50px;
            padding: 10px 20px;
            transition: background-color .3s ease-in-out, color .3s ease-in-out;
          }

          .say-hi-btn:hover {
            color: #FFFFFF;
            background-color: #232830;
          }
        }
      }
    }
  }

  main {
    margin-top: 100px;

    .container {
      max-width: 1240px;
      margin: 0 auto;
      padding: 0 50px;

      .header {
        font-size: 46px;
        color: #232830;
        font-weight: 900;
        text-align: center;
      }
  
      .subheader {
        font-size: 24px;
        color: #232830;
        font-weight: 400;
        text-align: center;
        margin-bottom: 75px;
      }
  
      .profile-photo-container {
        width: 230px;
        height: 230px;
        background-color: #5C5F60;
        margin: 0 auto;
        border-radius: 50%;
        position: relative;
        margin-bottom: 75px;
  
        .profile-photo {
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          width: 230px;
          height: 250px;
          position: absolute;
          bottom: 0;
          left: 0;
          background-image: url('./images/profile.png');
        }
      }
  
      .coding-photo {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 275px;
        width: 100%;
        margin-bottom: -2px;
        background-image: url('./images/coding.svg');
      }

      .categories-container {
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: -100px;
        margin-bottom: 135px;

        .category-container {
          padding: 50px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: column;
          text-align: center;
          border: 1px solid #E0E4ED;
          border-radius: 12px;
          background-color: #FFFFFF;

          @media screen and (max-width: 600px) {
            padding: 35px;
          }

          i {
            color: #5C5F60;
            font-size: 48px;
            margin-bottom: 20px;
          }

          .category-header {
            color: #5C5F60;
            font-size: 25px;
            font-weight: 600;
            margin-bottom: 20px;
          }

          .category-description {
            color: #5C5F60;
            font-size: 18px;
            width: 400px;
            margin-bottom: 70px;
            line-height: 30px;

            @media screen and (max-width: 600px) {
              width: 200px;
            }
          }

          .category-label-header {
            font-weight: 600;
            color: #5C5F60;
            margin-bottom: 20px;
          }

          .category-assign-header {
            color: #5C5F60;
            margin-bottom: 70px;
          }

          .category-assign-header:last-child {
            margin-bottom: 0;
          }
        }

      }


      .projects-container {
        .projects-header {
          font-size: 32px;
          color: #232830;
          font-weight: 900;
          text-align: center;
        }
      }
    }

    .introduction-container {
      padding: 0 50px;
      min-height: 500px;
      background-color: #232830;

      .intro-container {
        padding: 100px 0 100px 0;
        text-align: center;
        max-width: 850px;
        margin: 0 auto;
        
        
        .intro-header {
          font-size: 32px;
          font-weight: 400;
          color: #FFFFFF;
          margin-bottom: 20px;
        }
  
        .intro-subheader {
          font-size: 18px;
          line-height: 30px;
          font-weight: 400;
          color: #FFFFFF;
          margin-bottom: 70px;
        }
      }
    }
  }
}